.App {
  background-image: url('./utils/image 5 (1).svg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

.header {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color:cornflowerblue;
  border-radius: 10px;
}

.game-title {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 30px;
  font-size: 40px;
  border-color: aliceblue;
  background-image: linear-gradient(to right, yellow, orange);
  margin: 50px;
  margin-left: 530px;
}

.reset-button {
  color: white;
  background-color:orange;
  border-radius: 30px;
  padding: 30px 30px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  border: 2px solid gold;
  margin: 10px; 
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 200px;
  height: 50px;
  text-align: center;}

