/* Board.css */

.board {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr)); /* Adjust the number of columns */
    gap: 10px;
}

.image-cards,
.alphabet-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .popup {
    position: 'fixed',
    top: '50%',
    left: '50%',
    transform: 'translate(-50%, -50%)',
    backgroundColor: '#4CAF50', // Green background
    color: '#FFF', // White text color
    padding: '20px 30px', // Increased padding for larger size
    borderRadius: '10px',
    boxShadow: '0 4px 8px rgba(0, 0, 0, 0.2)', // Shadow effect
    fontSize: '18px',
    fontWeight: 'bold',
    fontFamily: 'Arial, sans-serif', // Stylish font
    textAlign: 'center', // Center-align text
    zIndex: '9999', // Ensure it appears on top of other elements
    width: '150px',
    height: '70px',
    borderColor: 'aqua'
} */
