
.image-card {
    width: 200px;
    height: 100px;
    background-color: lightpink;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 8px;
    border-color: pink;
    margin-bottom: 20px;
}

.image-card.matched {
    background-color: lightgreen;
}

.image-card:hover {
    border-color: black;
}

.image {
    font-size: 18px;
}
